* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #414141;
}
.active {
    text-decoration: underline;
}

.homeTop > ul {
    width: 100%;
    border: 2px solid gray;
}
.homeTop  > ul > li {
    display:inline-block;
    margin-right:50px;
    text-align: center;
    font-size: 2.4rem;
    float: right;
}
.homeList {
    background-color: rgba(180, 180, 180, 0.48);
    float: right;
}
.homeMain {
    clear: both;
    min-height: 50vh;
}
h2 {
    margin-left: 10%;
    padding-top: 100px;
}
.link {
    text-decoration: underline;
}
